.point-300 {
  min-width: 300px;
}

.point-200 {
  min-width: 200px;
}

.point-185 {
  min-width: 185px;
}

.point-175 {
  min-width: 175px;
}

.point-150 {
  min-width: 150px;
}

.point-135 {
  min-width: 135px;
}

.point-125 {
  min-width: 125px;
}

.point-100 {
  min-width: 100px;
}

.point-90 {
  min-width: 90px;
}

.point-85 {
  min-width: 85px;
}

.point-75 {
  min-width: 75px;
}